* {
    margin: 0;
    padding: 0;
  }
a {
    text-decoration: none;
  }
body {
    font-family: "Montserrat", sans-serif;
  }
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
.top {
    height: 800px;
    background: rgb(225, 255, 143);
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 196px;
        max-width: 768px;
    }
    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
        width: 720px;
    }
    &__button {
        box-sizing: border-box;
        background: rgb(32, 32, 39);
        border-radius: 60px;
        border: 1px solid rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        width: 247px;
        height: 66px;
        margin-top: 64px;
    }
}
.star_1 {
    position: absolute;
    top: 69px;
    left: 156px;
}
.star_2 {
    position: absolute;
    top: 94px;
    left: 63px;
}
.star_3 {
    position: absolute;
    left: 854px;
    top: -333px;
}
.star_4 {
    position: absolute;
    bottom: 225px;
    right: 455px;
}
.star_5 {
    position: absolute;
    bottom: 149px;
    right: 344px;
}
.roll {
    position: absolute;
    bottom: 0;
    left: 0;    
}
.section {
    background: rgb(32, 32, 39);
    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 94px;
    }
    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        width: 788px;
        padding-top: 24px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 72px;
        column-gap: 32px;
    }
    &__content {
        padding-bottom: 50px;
        position: relative;
    }
}
.star_6 {
    position: absolute;
    top: 77px;
    left: 933px;
    z-index: 0;
}
.item {
    grid-column: span 4;
    height: 512px;
    border-radius: 30px;
    background-color: #fff;
    &__content {
        padding: 32px;
    }
    &__text {
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: center;
        width: 108px;
        padding: 16px;
        width: 108px;
        padding-top: 8px;
        padding-bottom: 10px;
    }
    &__name {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 16px;
        color: rgb(32, 32, 39);
    }
}
.item-long {
    height: 551px;
}
.item-5 {
    margin-top: 32px;
}
.name-short {
    width: 300px;
}

.footer {
    background: rgb(189, 237, 53);
    height: 150px;
    &__text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 61px;
    }
}